*{
  padding:0;
  margin:0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  background-color:#313131;
}


.back3{
  align-items:left;
  position:absolute;
  top: 40px;
  left: 40px;
   
}
.container h2{
  font-size: 40px;
  color:#fff;
  font-weight: 600;
  text-align: center;
  margin-bottom: 20px;
  position:relative;
  top:0;


  
}
.container{
    width: 100%;
    padding:10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: transparent;
    color:#fff;

   

}
.container p{
    font-size: 18px;
    color:#fff;
    text-align: center;
    margin-bottom: 20px;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    background:#ccc;
 
  }
  
  input[type=submit] {
    background-color: #04AA6D;
    color:#fff;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  .form-container {
    width: 500px;
    border-radius: 5px;
    background-color:transparent;
    padding: 50px;
    justify-content: center;
    
  }
